.error-container{
    height:100%;
    width:100%;
    position: relative;
}
.error{
    position:relative;
    height:100%;
}
.error-content{
    width: 400px;
    height: 200px;
    text-align: center;
}
.center-container{
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.error-content h4{
    margin-top: 20px;
    color:#40619c;
}