/*content login*/
  .regist-content{
    position:absolute;
    margin:auto;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    height: 500px;
    width:900px;
    border-radius: 7px;
  box-shadow: 0px 9px 27px -8px rgba(0,0,0,0.75);
  }
  .logo{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 26%, rgba(20,108,212,1) 92%);
    height:100%;
    width:60%;
    float: left;
    position:relative;
  }
  .logi{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  .regist-form{
    height:100%;
    width:40%;
    float:right;
    padding: 20px 15px;
    overflow-y: auto;
  }
  .regist-form p{
    margin-bottom: 20px;
  }
  .regist-form h2,.regist-form p{
    color:#40619c;
  
  }
  .form input{
    text-align: center;
    width:100%;
    height:45px;
    border-radius: 7px;
    border:1px solid #8f9cff;
    margin-bottom:10px;
  }
  .form button{
    border:1px solid #8f9cff;
    border-radius: 7px;
    width:130px;
    height:45px;
    transition: all 0.2s;
    background-color: white;
  }
  .form button:hover{
    background-color: #8f9cff;
    color:white;
  }
    /*content home*/
  .form small{
    padding:0;
  }
  @media all and (max-width: 670px) {
    .auth-body{

    }
    .regist-content{
      width:100%;
    }
    .logo{
      display:none;
    }
    .regist-form{
      float:none;
      width :100%;
    }
  
  }
